.dashboard__layout
    margin 2rem 0
    display flex
    flex-flow column nowrap
    justify-content center
    align-items center
    width 100%
    .controls
        display flex
        flex-flow row wrap
        align-items center
