.search-by-time-range__layout
    margin 2rem 0
    width 100%
    display flex
    flex-flow column nowrap
    align-items center
    .input__layout
        margin 0 0 1rem
        width 100%
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        .time-picker
            margin 0 4rem
    .controls
        display flex
        flex-flow row wrap
        align-items center

