.search-by-num__layout
    margin 2rem 0
    width 100%
    display flex
    flex-flow column nowrap
    align-items center
    .input__layout
        margin 0 0 1rem
        width 100%
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        .input__field
            margin 0 2rem
    .container
        display flex
        flex-flow row wrap
        justify-content space-around
        & > div
            margin 1rem 2rem


